@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;700&family=Poppins:wght@800&family=Roboto:wght@300;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%;
}
body{

  background-color: #f5f5f5;
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  
}

:root{
  --text_color:black;
}

a{
  text-decoration: none;
}

h1{
  font-size: 6.4rem;
}
h2{
  font-size: 4.8rem;
}
h3{

  font-size:3.2rem;
}
p{

  font-size: 1.92rem;
}
nav{

  height:9.6rem;
  /* background-color:black; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.6rem;

}


nav button{
  background-color: #e8000d;
}

.hero-section{
  width: 100%;
  height: 48rem;
  position: relative;
  /* text-align: center; */


}

.hero-section img{
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:  .6;
  /* background-color: black; */
}

.hero-section-text{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#293e6e;
  opacity: .8;
  gap:.8rem;
  color:white;

}

.hero-section-text h1{
  color:#e09900;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.hero-section-text button{
  background-color: #e8000d;
}


.hero-form button{
  height:4.8rem;
  width:16rem;
}
.close-btn{
  height:4.8rem;
  width:16rem;
  border-radius: .5rem;
  /* background-color: #007bff; */
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn:hover{
  background-color: #0056b3;
  transform: scale(1.1);
  z-index: 1;
}



button {
  border-radius: .5rem;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  z-index: 1;
}

.form-div{
  display: none;
}


form{

  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:25vw;
  height: auto;
  background-color: ;
  padding:5rem 2rem;
  gap:1rem;
  background-color: #f1f3f4;
}

form input{
  height: 5rem;
  border:none;
  border-bottom:.1rem solid lightgrey;
  background-color: white;
  padding:.5rem;

}

form input:focus{
  outline: none;
}

.btns{
  display: flex;
  gap:1rem;
  justify-content: center;
}
.btn{

  background-color: #e8000d;
}


.immigration{
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap:1.6rem;
  padding:5rem;
  /* background-color: red; */
  /* overflow:auto; */
  

}

.immigration h2{
  font-weight: 900;
  color:#061f5c;
}


.immigration_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:60vw;
  height: auto;
  flex-wrap: wrap;
  /* background-color:yellow; */

}
.immigration_container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
  height: 50%;
  padding:2rem;
  


  
}
.immigration_container img{
  display: block;
  margin-bottom: 1rem;
  height: 80%;
  width: 90%;

  background-color: white;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
}

.immigration_container img:hover{
  transform: scale(1.1);
  /* transform: translateY(-10px); */
  z-index: 10;
}

.immigration_container p{
  font-weight: bold;

}
.assessment{

  position:relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12.8rem;
  background-color: #0b2964;
}

.assessment .left{
  flex:.7;
  display: flex;
  flex-direction:column;
  gap:.8rem;
  /* border:.5px solid black; */
  padding-left:12.8rem;
  opacity: 1;
}

.assessment .left h3{
  color:#e09900;
}
.assessment .left h2{
  color:white;
}
.assessment .right{
  flex:.5;
  padding:8rem;
  opacity: 1;
  /* border:.5px solid red; */
}
.assessment .right button{
  height: 6.4rem;
  width: 19.2rem;
  background-color: #e8000d;
  cursor:pointer;
  font-size:2.4rem;
}
.assessment .right button:hover{
  background-color: #007bff;
  opacity: 1;
}
.services{
  width: 100vw;
  padding:1rem;
  background-color: #f5f5f5;
  height: auto;
}
.services_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  width:80vw;
  margin:3rem auto;
  height: auto;
  gap:6rem;
  /* background-color:yellow; */

}

.services_container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height:50%;
  /* border:.1px solid black; */
  padding:1rem;
  background-color: white;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;



}

.services_container div:hover{
  transform: scale(1.1);
  /* transform: translateY(-10px); */
  z-index: 10;
}

.services_container img{
  height: 80%;
  width: 90%;
  margin-bottom:1rem;
  border:.5rem solid #061f5c;;
  border-radius: 3rem;

}

.services_container h3, p{
margin-bottom:1rem;
text-align: center;
}

.services_container p{
  font-size:small;
}
.services h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#061f5c;
  /* border:.5px  solid black; */
}


.hor-div{
  background-color: #e09900;
  width:40%;
  margin:auto;
  height: .8rem;
}
.hor-div.testup{
  margin-top:1.6rem;
  width:10%;
}
.hor-div.testdown{
  margin-bottom:1.6rem;
  width:10%;
}

.salary{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  width:100%;
  height:auto;
  gap:3.2rem;
  padding:8rem;
}


tr,th{
  font-size:3.2rem;
  text-align: center;
}

td{
  font-size:2.4rem;
  text-align: center;

}

.appreciation{
  width:100%;
  height:40rem;
  background-color: #0c225b;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
}

.appreciation h2{

  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
.appreciation h3{
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 800; */
  font-weight: 300 ;
}

.star-svg{
  height: 3.2rem;
  width: 3.2rem;
 
}

#starSvg path {
  fill: yellow;
}

.appreciation button{
  width:16rem;
  height: 4.8rem;
  background-color: #e8000d;
}

.appreciation button:hover{
  background-color: #0056b3;
}

.y-axis{
  display:flex;
  flex-direction: column;
  width:100%;
  /* margin:5rem auto; */
  height: 40rem;
  justify-content: center;
  align-items: center;
  padding:8rem;
  gap:1.6rem;
  background-color: #f5f5f5;
}

.y-axis h2{
  font-weight: 900;
  color:#061f5c;
}

.y-axis p{
  font-weight: 300;
}


.social-media{
  width:30%;
  height: auto;
  /* border: .5px solid black; */
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
  padding-bottom: 1.6rem;
  padding-top:1.6rem;
}

footer{
  width:100%;
  text-align: center;
  padding-bottom:3.2rem;
  background-color: white;
}


#upward-icon{
  position: fixed;
  bottom: 11.2rem;
  right:0rem;
  height:3.2rem;
  width:3.2rem;
  border-radius:.8rem;
  background-color: white;
  border:.1px solid #939393;
  display: none;
  transition:opacity .1s;
  cursor: pointer;
  /* z-index: 99; */
  transition: transform 0.3s ease-out;

}

#upward-icon:hover{
  transform: scale(1.1);
  z-index: 1;
}

.svg-logo{

  height:2.4rem;
  width:2.4rem;

}



/* 
https://airborneimmigration.com/?gclid=CjwKCAiA3pugBhAwEiwAWFzwdbEKBuR4L9B5i41_fXn2el4fN6DtkL6KHuV4mU-jIJIYvzjgymp0_hoCIEkQAvD_BwE */





/* /////////////////////////////// */


.client_testimonial{
  display: flex;
  width: 100vw;
  height: auto;
}
.client_testimonial_container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  padding:3rem;
  justify-content: center;
  align-items: center;
}
.item{
  background-color:white;
  border:.1px solid lightgrey;
  height: auto;
  width:30vw;
  padding:2rem;
  gap:2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.user_detail{
  /* background-color:yellow; */
  display: flex;
  gap:2rem;
  align-items: center;
}

.figure img{
  height: 6rem;
  width: 6rem;
  border-radius:50%;
}


@media screen and (max-width: 766px) {
  /* Styles for mobile devices */

  html{
    font-size:45%;
    overflow-x:hidden;
  }
  nav{
    display:none;
  }
  
.hero-section{
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  /* text-align: center; */


}

.immigration{
  width:100vw;
  height: auto;
  padding:0rem;
  display:block;
  /* justify-content: space-evenly; */
}

.immigration_container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height: auto;
  gap:1rem;
  /* background-color:yellow;  */
  margin-top:2rem;
}

.immigration_container div{
  width:80%;
  margin:auto;

}



.immigration p{
  text-align: left;
}

.assessment{
  height:auto;  
  display: block;
  text-align: center;
  padding:4rem 2rem 2rem 2rem;
}
.assessment .left{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding:0rem;
}

.assessment .right{
 
  padding-bottom:2rem;
}

.services{
  width:100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_container{
  width:100vw;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_container div{
  width:80vw;
  margin:auto;
}

.client_testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: auto;
}

.client_testimonial_container{
  display: flex;
  flex-direction:column;
  width:100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  flex-direction: column;
  width:80vw;
  margin:auto;
}

.hor-div.testup, .hor-div.testdown{
  width:30%
}

.y-axis{
  text-align: center;
  height: 60vh;
  gap:5rem;
  padding:4rem;
}
.y-axis p{
  text-align: left;
}

#upward-icon{
  height: 5rem;
  width: 5rem;
}

.svg-logo{
  height: 3rem;
  width: 3rem;
}



.form-div{
  top:40%;
  width:90%;
  /* height: 90vh; */

}
form{
  height: 50%;
  width: 70%;
}

.hidden-content{
  top:1%;
  text-align: left;
}





}

@media screen and (min-width: 767px) and (max-width: 991px) {
  /* Styles for tablets */
  html{
    font-size:50%;
  }
  .services-cards{
    display: block;

  }

  .assessment{
    width:100vw;
    height: auto;
    display: block;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
     padding:5rem;
    text-align: center;
  }
  .assessment .left{
    padding:0rem;
  }
  .assessment .right{
    padding-bottom:2rem;
  }
  .cross-btn{
    height: 3rem;
    width: 3rem;
    top:20%;
    right:30%;
  }

}

@media screen and (min-width: 992px) and (max-width:1300px) {
  /* Styles for laptops */
  html{
    font-size:58%;
  }

  .services-cards{
    padding:16rem 2rem 16rem 2rem;

  }


}










