@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;700&family=Poppins:wght@800&family=Roboto:wght@300;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{

  background-color: #f5f5f5;
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}

:root{
  --text_color:black;
}

a{
  text-decoration: none;
}

h1{
  font-size: 6.4rem;
}
h2{
  font-size: 4.8rem;
}
h3{

  font-size:3.2rem;
}
p{

  font-size: 1.92rem;
}
nav{

  height:9.6rem;
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.6rem;

}


nav button{
  background-color: #e8000d;
}

.hero-section{
  width: 100%;
  height: 48rem;
  position: relative;
  /* text-align: center; */


}

.hero-section img{
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:  .6;
  /* background-color: black; */
}

.hero-section-text{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#293e6e;
  opacity: .8;
  gap:.8rem;
  color:white;

}

.hero-section-text h1{
  color:#e09900;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.hero-section-text button{
  background-color: #e8000d;
}



.hero-form{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column;
  width: 40%;
  height: 60%;
  gap:1.6rem;
  /* display:none; */

}

.hero-form button{
  height:4.8rem;
  width:16rem;
}

.form-div{
  display: none;
}
form {
  border-radius: 1rem;
  padding: 2rem;
  background-color: #e8000d;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
}

input, textarea {
  border-radius: .5rem;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

button {
  border-radius: .5rem;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  z-index: 1;
}

.immigration{
  width: 100%;
  height: 40rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
  padding:16rem;
  /* background-color: red; */

}

.immigration h2{
  font-weight: 900;
  color:#061f5c;
}

.immigration p{
  font-weight: 300;
}
.assessment{

  position:relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12.8rem;
  background-color: #0b2964;
}

.assessment .left{
  flex:.7;
  display: flex;
  flex-direction:column;
  gap:.8rem;
  /* border:.5px solid black; */
  padding-left:12.8rem;
  opacity: 1;
}

.assessment .left h3{
  color:#e09900;
}
.assessment .left h2{
  color:white;
}
.assessment .right{
  flex:.5;
  padding:8rem;
  opacity: 1;
  /* border:.5px solid red; */
}
.assessment .right button{
  height: 6.4rem;
  width: 19.2rem;
  background-color: #e8000d;
  cursor:pointer;
  font-size:2.4rem;
}
.assessment .right button:hover{
  background-color: #007bff;
  opacity: 1;
}
.services{
  padding:1rem;
  background-color: #f5f5f5;
}
.services h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#061f5c;
  /* border:.5px  solid black; */
}

.services-cards{
  
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:16rem 16rem 16rem 16rem;
  /* background-color:black; */
  
}

.card{
  position:relative;
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  height:35.5rem;
  /* position: relative; */
  background-color: white;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
}

.card:hover{
  transform: scale(1.1);
  /* transform: translateY(-10px); */
  z-index: 1;
}

/* .card:nth-child(3n){
  margin-right: 0;
} */

.content{
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  gap:1.6rem;
  padding:3.2rem;
}
.card.odd{
  background-color:#e8000d;
  color:white;
  font-family: 'Poppins', sans-serif;
  /* position:relative; */
  
}

.card.even{
  /* background-color: #3f5986; */
  font-family: 'Poppins', sans-serif;
  color:black;
  /* position:relative; */
}

.hor-div{
  background-color: #e09900;
  width:40%;
  margin:auto;
  height: .8rem;
}
.hor-div.testup{
  margin-top:1.6rem;
  width:10%;
}
.hor-div.testdown{
  margin-bottom:1.6rem;
  width:10%;
}

.salary{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  width:100%;
  height:auto;
  gap:3.2rem;
  padding:8rem;
}


tr,th{
  font-size:3.2rem;
  text-align: center;
}

td{
  font-size:2.4rem;
  text-align: center;

}

.appreciation{
  width:100%;
  height:40rem;
  background-color: #0c225b;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
}

.appreciation h2{

  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
.appreciation h3{
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 800; */
  font-weight: 300 ;
}

.star-svg{
  height: 3.2rem;
  width: 3.2rem;
 
}

#starSvg path {
  fill: yellow;
}

.appreciation button{
  width:16rem;
  height: 4.8rem;
  background-color: #e8000d;
}

.appreciation button:hover{
  background-color: #0056b3;
}

.y-axis{
  display:flex;
  flex-direction: column;
  width:100%;
  /* margin:5rem auto; */
  height: 40rem;
  justify-content: center;
  align-items: center;
  padding:8rem;
  gap:1.6rem;
  background-color: #f5f5f5;
}

.y-axis h2{
  font-weight: 900;
  color:#061f5c;
}

.y-axis p{
  font-weight: 300;
}


.stay-in-touch{
  display:flex;
  
  width:100%;
  /* margin:5rem auto; */
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding:0 8rem 0 8rem;

  /* gap:1rem; */
  /* border:.5px solid red; */
  /* background-color: #f5f5f5; */
  background-color: white;
  /* border-radius:1rem; */
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); */
}

.stay-in-touch-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
  display:none;
}

.social-media{
  width:30%;
  height: auto;
  /* border: .5px solid black; */
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1.6rem;
  padding-bottom: 1.6rem;
  padding-top:1.6rem;
}

footer{
  width:100%;
  text-align: center;
  padding-bottom:3.2rem;
  background-color: white;
}

.hidden-content{
  
  display:none;
  position: fixed;
  top:10%;
  /* border:.5px solid black; */
  width:50%;
  min-height:32rem;
  height: auto;
  margin:8rem;
  border-radius:1.6rem;
  background-color: white;
  padding:4.8rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index:99;
}
.hidden-content ul{
 
  display:flex;
  flex-direction:column;
  gap:1.6rem;
  margin:1.6rem;
  font-size:1.6rem;
}

#upward-icon{
  position: fixed;
  bottom: 11.2rem;
  right:0rem;
  height:3.2rem;
  width:3.2rem;
  border-radius:.8rem;
  /* background-color: #939393; */
  /* background-color:#0056b3; */
  background-color: white;
  border:.1px solid #939393;
  display: none;
  transition:opacity .1s;
  cursor: pointer;
  /* z-index: 99; */
  transition: transform 0.3s ease-out;

}

#upward-icon:hover{
  transform: scale(1.1);
  z-index: 1;
}

.svg-logo{

  height:2.4rem;
  width:2.4rem;

}

.cross-btn{

  height: 3rem;
  width: 3rem;
  position: fixed;
  top:20%;
  right:30%;
  display:none;
  z-index:99;
  transition: transform 0.3s ease-out;
}
.cross-btn:hover{
  transform: scale(1.1);
  z-index: 1;
}


/* 
https://airborneimmigration.com/?gclid=CjwKCAiA3pugBhAwEiwAWFzwdbEKBuR4L9B5i41_fXn2el4fN6DtkL6KHuV4mU-jIJIYvzjgymp0_hoCIEkQAvD_BwE */





/* /////////////////////////////// */

.testimonial {
  background-color: #f9f9f9;
  padding: 6rem 0;
  text-align: center;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}
.testimonial-slides-content{
  width:50%;
  height: auto;
  margin:auto;

}
.testimonial-item {
  flex-basis: calc(33.33% - 20px);
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.testimonial-item:hover {
  transform: translateY(-1rem);
}

.testimonial-item img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom:1.6rem;
}

.testimonial-item h4 {
  margin-bottom: .5rem;
}

.testimonial-item p:last-child {
  margin-top: .5rem;
  font-size: 0.8em;
}



@media screen and (max-width: 766px) {
  /* Styles for mobile devices */

  html{
    font-size:45%;
  }
  
.hero-section{
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  /* text-align: center; */


}

.immigration{
  width:100vw;
  height: 40rem;
  /* padding:16rem; */
  padding:4rem;
  justify-content: space-evenly;
}

.immigration p{
  text-align: left;
}

.assessment{
  height:auto;
  /* display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  display: block;
  text-align: center;
  padding:4rem 2rem 2rem 2rem;
}
.assessment .left{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding:0rem;
}

.assessment .right{
 
  padding-bottom:2rem;
}

.services{
  width:100vw;
  height: auto;
}

.services-cards{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
  flex-wrap: nowrap; */
  display:block;
  padding:10rem 2rem 10rem 2rem;
  text-align: center;
  /* background-color: red; */
}

.cards{
  /* margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.content{
  /* display: flex; */
  padding:2rem;
}

.salary{
  gap:5rem;
  padding:1rem;
  text-align: center;
  /* height: 100vh; */
}

table{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
  /* gap:1rem; */
}

.appreciation{
  /* height: 60vh;
  gap:3rem; */
  /* display: block;
  text-align: center; */
  padding:2rem;
  min-height: 50vh;
  height: auto;

}

.appreciation button{
  /* margin-top:20rem; */
}

.hor-div.testup, .hor-div.testdown{
  width:30%
}

.y-axis{
  text-align: center;
  height: 60vh;
  gap:5rem;
  padding:4rem;
}
.y-axis p{
  text-align: left;
}

#upward-icon{
  height: 5rem;
  width: 5rem;
}

.svg-logo{
  height: 3rem;
  width: 3rem;
}

.cross-btn{
  height: 3rem;
  width: 3rem;
  top:10%;
  right:5%;
}

.hero-form{
  top:40%;
  width:90%;
  /* height: 90vh; */
}

.hidden-content{
  top:1%;
  text-align: left;
}





}

@media screen and (min-width: 767px) and (max-width: 991px) {
  /* Styles for tablets */
  html{
    font-size:50%;
  }
  .services-cards{
    display: block;

  }

  .assessment{
    width:100vw;
    height: auto;
    display: block;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
     padding:5rem;
    text-align: center;
  }
  .assessment .left{
    padding:0rem;
  }
  .assessment .right{
    padding-bottom:2rem;
  }
  .cross-btn{
    height: 3rem;
    width: 3rem;
    top:20%;
    right:30%;
  }

}

@media screen and (min-width: 992px) and (max-width:1300px) {
  /* Styles for laptops */
  html{
    font-size:58%;
  }

  .services-cards{
    padding:16rem 2rem 16rem 2rem;

  }


}










