@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;700&family=Poppins:wght@800&family=Roboto:wght@300;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /* font-size: 62.5%; */
}
body{

  background-color: #f5f5f5;
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}

:root{
  --text_color:black;
}

a{
  text-decoration: none;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{

  font-size:2rem;
}
p{

  font-size: 1.2rem;
}
nav{

  height:6rem;
  background-color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;

}

/* .nav-links a{
  font-size: 1rem;
  color:white;
  opacity:.8;
  transition: opacity 0.3s ease-in-out;
  background-color:#e8000d;
  display:block;
  width:8rem;
  height:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-links a:hover{
 opacity: 1;
} */

nav button{
  background-color: #e8000d;
}

.hero-section{
  width: 100%;
  height: 30rem;
  position: relative;
  /* text-align: center; */


}

.hero-section img{
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:  .6;
  /* background-color: black; */
}

.hero-section-text{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#293e6e;
  opacity: .8;
  gap:.5rem;
  color:white;

}

.hero-section-text h1{
  color:#e09900;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.hero-section-text button{
  background-color: #e8000d;
}



.hero-form{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column;
  width: 40%;
  height: 60%;
  gap:1rem;
  /* display:none; */

}

.hero-form button{
  height:3rem;
  width:10rem;
}

.form-div{
  display: none;
}
form {
  border-radius: 10px;
  padding: 20px;
  background-color: #e8000d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

input, textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  z-index: 1;
}

.immigration{
  width: 100%;
  height: 25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding:10rem;
  /* background-color: red; */

}

.immigration h2{
  font-weight: 900;
  color:#061f5c;
}

.immigration p{
  font-weight: 300;
}
.assessment{

  position:relative;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:8rem;
  background-color: #0b2964;
}

.assessment img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;

}
.assessment .left{
  flex:.7;
  display: flex;
  flex-direction:column;
  gap:.5rem;
  /* border:.5px solid black; */
  padding-left:8rem;
  opacity: 1;
}

.assessment .left h3{
  color:#e09900;
}
.assessment .left h2{
  color:white;
}
.assessment .right{
  flex:.5;
  padding:5rem;
  opacity: 1;
  /* border:.5px solid red; */
}
.assessment .right button{
  height: 4rem;
  width: 12rem;
  background-color: #e8000d;
  cursor:pointer;
  font-size:1.5rem;
}
.assessment .right button:hover{
  background-color: #007bff;
  opacity: 1;
}
.services{
  padding:1rem;
  background-color: #f5f5f5;
}
.services h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color:#061f5c;
  /* border:.5px  solid black; */
}

.services-cards{
  
  display:flex;
  flex-wrap: wrap;
  padding:2rem 10rem 10rem 10rem;
  /* background-color:black; */
  
}

.card{
  position:relative;
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  height:22rem;
  /* position: relative; */
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
}

.card:hover{
  transform: scale(1.1);
  /* transform: translateY(-10px); */
  z-index: 1;
}

/* .card:nth-child(3n){
  margin-right: 0;
} */

.content{
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  gap:1rem;
  padding:2rem;
}
.card.odd{
  background-color:#e8000d;
  color:white;
  font-family: 'Poppins', sans-serif;
  /* position:relative; */
  
}

.card.even{
  /* background-color: #3f5986; */
  font-family: 'Poppins', sans-serif;
  color:black;
  /* position:relative; */
}

.hor-div{
  background-color: #e09900;
  width:40%;
  margin:auto;
  height: .5rem;
}
.hor-div.testup{
  margin-top:1rem;
  width:10%;
}
.hor-div.testdown{
  margin-bottom:1rem;
  width:10%;
}

.salary{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  width:100%;
  height:auto;
  gap:2rem;
  padding:5rem;
}


tr,th{
  font-size:2rem;
  text-align: center;
}

td{
  font-size:1.5rem;
  text-align: center;

}

.appreciation{
  width:100%;
  height:25rem;
  background-color: #0c225b;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.appreciation h2{

  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.appreciation h3{
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 800; */
  font-weight: 300 ;
}

.star-svg{
  height: 2rem;
  width: 2rem;
 
}

#starSvg path {
  fill: yellow;
}

.appreciation button{
  width:10rem;
  height: 3rem;
  background-color: #e8000d;
}

.appreciation button:hover{
  background-color: #0056b3;
}

.y-axis{
  display:flex;
  flex-direction: column;
  width:100%;
  /* margin:5rem auto; */
  height: 25rem;
  justify-content: center;
  align-items: center;
  padding:5rem;
  gap:1rem;
  background-color: #f5f5f5;
}

.y-axis h2{
  font-weight: 900;
  color:#061f5c;
}

.y-axis p{
  font-weight: 300;
}


.stay-in-touch{
  display:flex;
  
  width:100%;
  /* margin:5rem auto; */
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding:0 5rem 0 5rem;

  /* gap:1rem; */
  /* border:.5px solid red; */
  /* background-color: #f5f5f5; */
  background-color: white;
  /* border-radius:1rem; */
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); */
}

.stay-in-touch-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  display:none;
}

.social-media{
  width:30%;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding-bottom: 1rem;
  padding-top:1rem;
}

footer{
  width:100%;
  text-align: center;
  padding-bottom:2rem;
  background-color: white;
}

.hidden-content{
  
  display:none;
  position: fixed;
  top:10%;
  /* border:.5px solid black; */
  width:50%;
  min-height:20rem;
  height: auto;
  margin:5rem;
  border-radius:1rem;
  background-color: white;
  padding:3rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index:99;
}
.hidden-content ul{
 
  display:flex;
  flex-direction:column;
  gap:1rem;
  margin:1rem;
  font-size:1rem;
}

#upward-icon{
  position: fixed;
  bottom: 7rem;
  right:0rem;
  height:2rem;
  width:2rem;
  border-radius:.5rem;
  /* background-color: #939393; */
  /* background-color:#0056b3; */
  background-color: white;
  border:.1px solid #939393;
  display: none;
  transition:opacity .1s;
  cursor: pointer;
  /* z-index: 99; */
  transition: transform 0.3s ease-out;

}

#upward-icon:hover{
  transform: scale(1.1);
  z-index: 1;
}

.svg-logo{

  height:1.5rem;
  width:1.5rem;

}

.cross-btn{

  height: 3rem;
  width: 3rem;
  position: fixed;
  top:1rem;
  right:1rem;
  display:none;
  z-index:99;
  transition: transform 0.3s ease-out;
}
.cross-btn:hover{
  transform: scale(1.1);
  z-index: 1;
}


/* 
https://airborneimmigration.com/?gclid=CjwKCAiA3pugBhAwEiwAWFzwdbEKBuR4L9B5i41_fXn2el4fN6DtkL6KHuV4mU-jIJIYvzjgymp0_hoCIEkQAvD_BwE */





/* /////////////////////////////// */

.testimonial {
  background-color: #f9f9f9;
  padding: 60px 0;
  text-align: center;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}
.testimonial-slides-content{
  width:50%;
  height: auto;
  margin:auto;

}
.testimonial-item {
  flex-basis: calc(33.33% - 20px);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.testimonial-item:hover {
  transform: translateY(-10px);
}

.testimonial-item img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom:1rem;
}

.testimonial-item h4 {
  margin-bottom: 5px;
}

.testimonial-item p:last-child {
  margin-top: 5px;
  font-size: 0.8em;
}



@media screen and (max-width: 767px) {
  /* Styles for mobile devices */
  body{
    /* font-size:55%; */
  }
  .container {
    max-width: 100%;
    padding: 0;
  }
  .box {
    width: 100%;
    margin-bottom: 20px;
  }
  
.hero-section{
  width: 100%;
  height: 100%;
  position: relative;
  /* text-align: center; */


}

.hero-section img{
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:  .6;
  /* background-color: black; */
}

.hero-section-text{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#293e6e;
  opacity: .8;
  gap:.5rem;
  color:white;

}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  body{
    /* font-size:40%; */
  }
  .container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  /* Styles for laptops */
  .container {
    max-width: 970px;
  }
}










